.main {
  flex: 80%;
  display: flex;
  justify-content: center;
}

.productTab{
  padding: 20px;
  min-width: 800px;
  box-shadow: inset 3px 3px 5px var(--colorShadow);
}

.productTab h2{
  margin-top: 0;
}

.contactTab{
  margin-bottom: 20px;
}

.jobCreateTab{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactTabInfo{
  padding: 20px;
  flex-direction: column;
  flex: 65%;
  border-radius: 5px;
  box-shadow: 0px 5px 5px var(--colorShadow);
  background-color: var(--colorUILight);
  margin-bottom: 10px;
  min-width: 300px;
}

.howToTab{
  max-width: 500px;
}

@media screen and (max-width: 720px) {
  .productTab{
    box-shadow: none;
    min-width: 300px;
  }
  .contactTabInfo{
    max-width: 350px;
  }
}