.landingPageImage{
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("../../Images/landingPageImage.jpg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landingPageContentContainer{
  display: flex;
  flex-direction: column;
}

.landingPageCompanyName{
  align-self: center;
  color: var(--colorTextDark);
  margin-bottom: 50px;
}

.landingPageButtonsContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 600px;
  height: 100px;
  margin: auto;
  border: 1px solid white;
}

.landingPageButton{
  align-self: center;
  border: 2px solid var(--colorTextDark);
  color: var(--colorTextDark);
  font-size: 20px;
  background-color: rgba(255,255,255,0);
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  width: 200px;
  height: 50px;
}

.landingPageButton:hover{
  background-color: rgba(255,153,0,0.5);
}