.productContainer{
  display: flex;
  background-color: var(--colorUILight);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: left;
  flex: 65%;
  border-radius: 5px;
  box-shadow: 0px 5px 5px var(--colorShadow);
}

.productImage{
  align-self: center;
  flex: 25%;
  margin-right: 20px;
}

.productInfo{
  flex: 75%;
}

.productAlt{
  font-size: 12px;
  color: var(--colorTextNonFocus);
}

.productTable{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.tableHideButton{
  display: flex;
  justify-content: left;
}

.productTableContainer{
  width: 100%;
}

hr{
  color: var(--colorTextNonFocus);
  border-style: solid;
  border-width: 1px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 8px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

@media screen and (max-width: 720px) {
  .productContainer, .productImage {
    flex-direction: column;
  }

  .productImage{
    max-width: 200px;
  }
}