.header {
  text-align: center;
  padding: 60px;
  background-image: url("../../Images/landingPageImage.jpg");
  background-size: cover;
  background-position: center;
  color: var(--colorTextLight);
  width: 100%;
}

.headerText{
  text-shadow: 0 0 5px #575757;
  color: #ffffff;
}

.headerText h1{
  font-family: 'Exo', sans-serif;
  font-size: 40px;
  font-weight: bold;
}