/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #3d362d;
  justify-content: center;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #fefffd;
  color: black;
}