/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.left-panel {
  background-color: #665847;
}

.left-panel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left-panel li{
  text-align: center;
}

.left-panel li a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 14px;
}

.left-panel a:hover {
  background-color: #fefffd;
  color: black;
}