/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.left-panel {
  display: flex;
  background-color: #665847;
  flex-direction: column;
}

.left-panel a{
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.left-panel a:hover {
  background-color: #eaebe9;
  color: black;
}