.left-panel {
  display: flex;
  background-color: var(--colorUISemiLight);
  flex-direction: column;
  border-right: 1px solid var(--colorUIMiddleTransparent);
  min-width: 280px;
}

.productCategoryButtonContainer{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.productCategoryButtonImage{
  width: auto;
  height: 30px;
  align-self: center;
}

.productCategoryButtonImageContainer{
  display: flex;
  justify-content: center;
  width: 45px;
  height: 42px;
  background-color: white;
  border: none;
  border-top: 1px solid rgba(255,255,255,0.6);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px 0 0 3px;
}

.productCategoryButton{

  text-align: right;
  display: block;
  flex: 90%;
  border: none;
  border-top: 1px solid rgba(255,255,255,0.6);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  background-color: var(--colorUIMiddleTransparent);
  color: var(--colorUIMiddle);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  box-shadow: 0px 0px 5px #d7d4ce;
  font-family: inherit;
}

.productCategoryButton:hover {
  background-color: var(--colorUIMiddle);
  color: white;
  box-shadow: 0px 0px 5px #73706a;
}

.categoryCreatorContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.categoryInput input[type="text"]{
  border-radius: 3px;
  background-color : var(--colorUIConsoleDark);
  margin: 2px;
  border: none;
  outline: none;
  color: var(--colorTextAdminConsole);
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
  font-size: 15px;
}

@media screen and (max-width: 720px) {
  .left-panel{
    margin-top: 0;
    border-right: none;
    border-bottom: 1px solid var(--colorUIMiddleTransparent);
  }

  .productCategoryButton{
    margin-top: 0;
    text-align: center;
    box-shadow: 0px 0px 0px #73706a;
  }

  .productCategoryButton{
    border-radius: 0px;
    width: 100vw;
  }

  .productCategoryButtonImageContainer{
    display: none;
  }
}
