.footer {
  display: flex;
  justify-content: center;
}

.adminButton{
  background-color: var(--colorUIDark);
  border: none;
  height: 40px;
  width: 40px;
  display: block;
}

.adminConsole{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}

.adminConsoleFields{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.adminConsoleDescription{
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.adminConsoleTable{
  display: flex;
  flex-direction: column;
}

input[type="text"], textarea {
  background-color : var(--colorUIConsoleDark);
  margin: 2px;
  border: none;
  outline: none;
  color: var(--colorTextAdminConsole);
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
}

.adminButton:hover{
  background-color: var(--colorUIMiddle);
}

.adminConsoleProductName{
  font-size: 20px;
  font-weight: bold;
}
.adminConsoleTableColumns{
  font-size: 16px;
}

.adminConsoleButtonArea{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
}

.adminConsoleProductCategory{
  border: none;
  outline: none;
  margin: 2px;
  background-color : var(--colorUIConsoleDark);
  color: var(--colorTextAdminConsole);
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
}

.adminConsoleProductCategory option:hover {
  background-color: var(--colorPrimary);
}

.adminLogin{
  margin: 10px;
}

.adminLogin button{
  margin-left: 20px;
}