.cartPanelContainer{
  height: 280px;
  background: var(--colorUISemiDark);
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: relative;
}

.cartPanelOrderedProducts{
  max-width: 98vw;
  display: flex;
  flex-direction: row;
  align-self: center;
  overflow-x: auto;
}

.cartPanelContainer .primaryButton{
  margin: 5px;
  align-self: center;
}

.productThumbnailContainer{
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 200px;
  background-color: var(--colorUIThumbBG);
  padding: 10px;
  margin: 10px 5px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px var(--colorUIDark);
}

.productThumbImage{
  object-fit: scale-down;
  max-height: 160px;
}

.productThumbName{
  color: var(--colorUISemiLightDarker);
  white-space: nowrap;
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  flex: 50%;
  align-self: center;
  font-weight: bold;
}

.removeButtonAntiScroll{
  position: relative;
}

.deleteThumbnail{
  position: absolute;
  right: -8px;
  top: -9px;
  padding: 2px;
  background-color: var(--colorUIMiddleTransparent);
  color: var(--colorUISemiLightDarker);
}