* {
  box-sizing: border-box;
}

.row {
  display: flex;
  min-height: calc(100vh - 354px);
  max-width: 1400px;
  width: 100%;
}

.left-panel {
  flex: 20%;
}

.mainContentContainer{
  display: flex;
  justify-content: center;
  background-color: var(--colorUISemiLight);
}

@media screen and (max-width: 720px) {
  .row, .navbar {
    flex-direction: column;
  }
  .left-panel {
    flex: none;
  }
}