:root{
  /*colors*/
  --colorPrimary: #ff9900;
  --colorPrimaryDark: #cd6b00;
  --colorUIDark: rgb(49, 53, 59);
  --colorUISemiDark: rgb(70, 74, 80);
  --colorUIConsoleDark: #333942;
  --colorUIMiddle: rgb(82, 90, 102);
  --colorUIMiddleTransparent: rgba(102, 88, 71, 0.1);
  --colorUISemiLight: #eaebe9;
  --colorUISemiLightDarker: #c2c2c2;
  --colorUILight: #ffffff;
  --colorUIThumbBG: #585f69;
  --colorTextDark: #000000;
  --colorTextNonFocus: #cccdcb;
  --colorTextLight: #ffffff;
  --colorTextAdminConsole: #fffcf7;
  --colorShadow: rgba(215, 212, 206, 0.71);
  --colorDelete: rgb(226, 0, 0);

  --pageMaxWidth: 1400px;

}


body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--colorUIDark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.primaryButton{
  background-color: var(--colorPrimary);
  border: none;
  color: var(--colorTextLight);
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  font-family: inherit;
}

.primaryButton:hover{
  background-color: var(--colorPrimaryDark);
}

.secondaryButton{
  background-color: var(--colorUIDark);
  border: none;
  color: var(--colorTextLight);
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  font-family: inherit;
}

.secondaryButton:hover{
  background-color: var(--colorUIMiddle);
}
