:root{
  --colorPrimary: #ff9900;
  --colorPrimaryDark: #cd6b00;
  --colorUIDark: rgba(61, 54, 45, 0);
  --colorUIConsoleDark: #443d34;
  --colorUIMiddle: rgba(102, 88, 71, 0.6);
  --colorUISemiLight: #eaebe9;
  --colorUILight: #ffffff;
  --colorTextDark: #000000;
  --colorTextNonFocus: #cccdcb;
  --colorTextLight: #ffffff;
  --colorTextAdminConsole: #d8d5d0;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3d362d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.primaryButton{
  background-color: var(--colorPrimary);
  border: none;
  color: var(--colorTextLight);
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.primaryButton:hover{
  background-color: var(--colorPrimaryDark);
}

.secondaryButton{
  background-color: var(--colorUIDark);
  border: none;
  color: var(--colorTextLight);
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.secondaryButton:hover{
  background-color: var(--colorUIMiddle);
}
